nltk
torch
tqdm
pyprind
six
Cython
torchtext
git+https://github.com/facebookresearch/fastText.git

# Documentation
Sphinx
sphinx_rtd_theme

# Required for tests only:

# Style-checking for PEP8
flake8

# Run unit tests
pytest

# Lets pytest find our code by automatically modifying PYTHONPATH
pytest-pythonpath

# Coverage statistics
pytest-cov
codecov
